# Clustering ATMs

In this notebook, I will pick n atm ids (n=50) and generate a dataset for clustering.

In [3]:
sys.path.append(r'../atm_demand')
from feature_generation import *

import pandas as pd

In [4]:
df = pd.read_csv("../atm_demand/DATA_sample_atm.csv")

In [12]:
df['AtmId'].value_counts()[:50].index

Int64Index([ 26637,  27687,  27663,  33817,  33821,  27651,  32785,  33793,
             33795,  33796, 119852,  33800,  27664,  27667,  33807,  33850,
             33774,  33852,  27711,  33827,  33828,  33830,  27707,  33831,
             33833,  27727,  27723,  33879,  27714,  33862,  33809,  33771,
             27729,  27570,  27537,  33677,  27539,  33679,  33713,  33714,
             27556,  33724,  33726,  27579,  33707,  27568,  33711, 119801,
             33766,  33750],
           dtype='int64')

In [50]:
CLUSTER_WITH = 'CashIn'

clustering_df = pd.DataFrame(dtype='float64')
for atmId in df['AtmId'].value_counts()[:50].index:    
    atm_df = get_atm(df, atmId)
    atm_df = atm_df[:-135]
    atm_df = clean_data(atm_df, drop_zeros=True)

    day_of_the_week_index = get_day_of_the_week_index(atm_df.index)

    for i in range(7):
        clustering_df.loc[atmId, i] = atm_df.loc[day_of_the_week_index[day_of_the_week_index == i].index].mean()[CLUSTER_WITH]

clustering_df[:5]

,0,1,2,3,4,5,6
26637,111146.812668,78341.032120,83305.204403,74221.703904,78088.423181,55970.126909,43084.605795
27687,92747.860063,75231.893868,77733.278302,73527.819905,78108.011006,54080.877358,42983.032233
27663,56237.033637,50628.276617,48540.837994,47409.460900,49630.867981,36993.454908,25155.914477
33817,38820.500000,32693.443134,31575.841195,30866.432333,32683.692348,33929.042453,33271.739256
33821,41778.188455,37382.713949,35380.874663,34050.227488,35604.204739,33213.088724,31895.938904